*{
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;;
}
/* burger-menu start */
.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1000;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 22px;
    height: 8px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #CCCCCC;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #CCCCCC;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    background: #EC1947;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: -6px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
    background: #EC1947;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    gap: 12px;
    padding: 50px 0;
    margin: 0;
    background: #FFFFFF;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 30%;
    z-index: 999;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .button{
    background-color: #1946BAD9;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 3% 7%;
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 998;
    pointer-events: none;
  }
  .burger-checkbox:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  body:has(.burger-checkbox:checked) {
    overflow: hidden;
  }
  .name {
    font-size: 18px;
    margin: -24px
  }
  .position {
    font-size: 12px;
    margin-bottom: 30px;
  }
  /* burger-menu end */

  #language{
    padding: 5px;
    cursor: pointer;
    border: none;
    color: #9F9F9F;
    margin-right: 25px;
}
#language option{
 color: black;
}
  .header-nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 9px 16px;
  }
  ul{
    list-style-type: none;
  }
  .sign-in-button, .specific-search-button button{
    background-color: #1946BAD9;
    opacity: 0.85;
    border-radius: 6px;
    width: 84px;
    height: 32px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  .search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .search-container h1{
    font-size: 22px;
  }
  
  .search-input form {
    position: relative;
    width: 353px;
    margin: 0 auto;
  }
  .search-input input, .search-input button, .specific-search-button button {
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .search-input input {
    width: 100%;
    height: 57px;
    box-shadow: -4px 4px 45px -7px rgba(34, 60, 80, 0.42);
    padding-left: 15px;
    font-size: 18px;
  }
  .search-input button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 16px;
    right: 0px;
    cursor: pointer;
    background-color: white;
  }
  .search-input button::before {
    content: url('imgs/lens.png');
  }
  .search-input button::after {
    content: " ";
    background: #CCCCCC;
    display: block;
    position: absolute;
    bottom: -6.5px;
    right: 37px;
    height: 40px;
    width: 1.5px;
  }
.specific-search-button{
  display: flex;
  gap: 20px;
}
.specific-search-button button{
  width: 158px;
}
main{
  background:     linear-gradient(0deg,  #1946BAD9 33%, #ffffffd9 33%);
}
.card-container{
  display: flex;
  gap: 35px;
  margin: 0px 35px;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2% 5%;
  background-color: #FFFFFF;
  align-items: center;
  text-align: center;
  box-shadow: -4px 4px 45px -7px rgba(34, 60, 80, 0.42);
  border-radius: 5px;
}
.card h2{
  font-size: 20px;
  height: 23px;
}
.card p{
  color: #9F9F9F;
}
.card img{
  position: relative;
}
.card img:first-of-type{
  top: 50px;
  z-index: 2;
}
.card img:last-of-type{
  left: 20px;
  bottom: 30px;
  z-index: 1;
}
footer{
  background-color: #1946BAD9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  gap: 25px;
  padding-top: 50px;
}
footer h2, footer li{
  opacity: 0.9;
}
footer h1, footer h2{
  font-size: 20px;
  line-height: 23px;
  margin: 15px;
}
.building{
  height: 400px;
  width: 100%;
  background-image: url(imgs/building.png);
  background-size: 100% 365px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-nav{
  text-align: left;
}
.footer-logo{
  height: 70px;
}
.socials{
  text-align: center;
}
.social-links{
  display: flex;
  flex-wrap: wrap;
  width: 66%;
  justify-content: center;
  gap: 25px;
  margin-left: 90px;
  padding: 5% 0;
}
.img-rectangle{
  position: relative;
  z-index: 1;
}
.icon{
  position: absolute;
  z-index: 2;
  margin: 25px 0px 0 -60px;
}
.download-icons{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 10%;
}
.download-icons li{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.download-icons li span{
  font-size: 15px;
  font-weight: 400;
  opacity: 0.6;
}

.footer-nav li, .footer-nav li button {
  font-size: 16px;
  color: #FFFFFFE5;
}
.footer-nav li{
  margin-bottom: 20px;
  position: relative;
}
.footer-nav button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.footer-nav button:hover,
.footer-nav button:focus {
  outline: 0;
  text-decoration: none;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
}

.submenu.active {
  max-height: 300px;
  opacity: 1;
  padding: 10px 10px 0 30px;
  transform: translateY(0);
}
.submenu.active::before{
  content: " ";
  position: absolute;
  left: 4px;
  top: 5px;
  bottom: 0;
  height: 93%;
  width: 2px;
  background: #FFFFFFE5;
  opacity: 0.5;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;

}
.submenu a:hover {
  color: #ffffff;
}
.submenu a{
  color: #FFFFFFE5;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.submenu a::after{
  content: '\003E';
  padding-left: 8px;
  grid-column: 2;
}
.footer-nav > li::before{
  content: '\005E\0020';
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.footer-nav > li.active::before {
  transform: rotate(180deg);
}

@media (max-width: 1000px) {
  main {
    background: linear-gradient(0deg, #1946BAD9 65%, #ffffffd9 33%);
}
  .card-container{
    flex-direction: column;
  }
  .card{
    width: 315px;
    padding: 20% 7%;
  }
}

@media (max-width: 450px) {
  .social-links{
    margin-left: 50px;
  }
  .card{
    width: 210px;
    padding: 13% 7%;
  }
  .card p{
    font-size: 10px;
  }
}